body
{
	color: #201b2d;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li
{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

p
{
	line-height: 1.65em;
}

.container
{
	width: 1170px;
	margin: 0 auto;
}

header
{
	background: rgba(71,62,95,1);
	background: -moz-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(58,49,81,1) 45%, rgba(42,33,64,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,62,95,1)), color-stop(45%, rgba(58,49,81,1)), color-stop(100%, rgba(42,33,64,1)));
	background: -webkit-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(58,49,81,1) 45%, rgba(42,33,64,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(58,49,81,1) 45%, rgba(42,33,64,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(58,49,81,1) 45%, rgba(42,33,64,1) 100%);
	background: linear-gradient(135deg, rgba(71,62,95,1) 0%, rgba(58,49,81,1) 45%, rgba(42,33,64,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473e5f', endColorstr='#2a2140', GradientType=1 );
	padding-top: 100px;
	color: #fff;
}

.wrapper
{
	display: flex;
	justify-content: space-between;
}

.offer
{
	width: 475px;
}

.title
{	
	font-size: 60px;
	margin-top: 172px;
}

.title span 
{
	color: #48ed8e;
}

.intro
{
	margin: 45px 0;
	width: 375px;
}

.btn
{
	padding: 20px 37px;
	background: #ed9619;
	border-radius: 100px;
	text-align: center;
	font-weight: 900;
	text-decoration: none;
	width: 205px;
	height: 55px;
	color: #fff;
}

.desktop
{
	margin-top: 70px;
	margin-bottom: 227px;
}
